:root {
  --primary-color: #de6232 ;
  --sub-color: #e4b549;
}

#header .thim-header-top {
  padding: 10px 0;
}
#header .thim-header-top .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .thim-header-top .inner .box-social {
  width: 40%;
  text-align: left;
  margin: auto 0;
}
#header .thim-header-top .inner .box-social a {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  width: 34px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  text-align: center;
  margin-right: 15px;
}
#header .thim-header-top .inner .box-social a:hover {
  background-color: var(--primary-color);
  color: white;
}
#header .thim-header-top .inner .box-social a i {
  font-size: 24px;
  vertical-align: middle;
}
#header .thim-header-top .inner .box-logo {
  width: 20%;
  text-align: center;
}
#header .thim-header-top .inner .box-contact-shop {
  width: 40%;
  text-align: right;
  margin: auto 0;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
}
#header .thim-header-top .inner .box-contact-shop a {
  color: var(--primary-color);
  text-decoration: none;
}
#header .thim-header-top .inner .icon-show-menu-mobile {
  display: none;
}
#header .thim-header-bottom {
  background-color: var(--primary-color);
}
#header .thim-header-bottom .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .thim-header-bottom .inner ul#primary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}
#header .thim-header-bottom .inner ul#primary-menu li {
  margin-right: 30px;
  padding: 15px 0;
}
#header .thim-header-bottom .inner ul#primary-menu li a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
#header .thim-header-bottom .inner ul#primary-menu li.current-menu-item, #header .thim-header-bottom .inner ul#primary-menu li:hover > a {
  color: var(--sub-color);
}
#header .thim-header-bottom .inner ul#primary-menu .sub-menu {
  display: none;
}
#header .thim-header-bottom .inner ul#primary-menu .mega-menu.mega-menu.mega-menu.mega-menu {
  min-width: 600px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children {
  position: relative;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu .inner-item {
  width: 33.333%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu .inner-item:hover > a {
  color: var(--sub-color);
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu .inner-item .list-question {
  padding-left: 20px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu .inner-item .list-question .question-item {
  list-style: circle;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 0;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children:after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: white;
  font-size: 14px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children:hover > .sub-menu {
  display: block;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu {
  background-color: #c25327;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 300px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu a {
  text-transform: capitalize;
  font-weight: 400;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu li {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children {
  position: relative;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children:hover > .sub-menu {
  display: block;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children:after {
  content: "\f105";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: white;
  font-size: 14px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children > .sub-menu {
  border-radius: 3px;
  z-index: 100;
  padding: 5px;
  min-width: 250px;
  top: 10%;
  left: calc(100% + 13px);
  position: absolute;
  background: #c25327;
  margin: 0px;
  line-height: normal;
  text-align: left;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children > .sub-menu:after {
  content: "";
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #c25327;
  border-right: 8px solid transparent;
  position: absolute;
  top: 13px;
  left: -16px;
  margin: auto;
  width: 0;
  display: block !important;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu:before {
  content: "";
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #c25327;
  border-right: 8px solid transparent;
  position: absolute;
  top: -16px;
  left: 0;
  right: -75%;
  margin: auto;
  width: 0px;
  display: block !important;
}
#header .thim-header-bottom .inner .cart-icon {
  margin: auto 0;
  width: auto;
}
#header .thim-header-bottom .inner .cart-icon a i {
  color: white;
  font-size: 24px;
}

#footer .ft-content {
  position: relative;
  padding: 50px 0px;
  color: #ffffff;
  background-image: url("images/ft_bg_img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#footer .ft-content .ft-content-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#footer .ft-content .inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .ft-content .inner .ft-col-2 {
  width: 20%;
}
#footer .ft-content .inner .ft-col-3 {
  width: 30%;
}
#footer .ft-content .inner ul li {
  padding: 6px 0;
}
#footer .ft-content .inner a {
  color: white;
}
#footer .ft-content .inner a:hover {
  color: var(--sub-color) !important;
}
#footer .ft-content .inner .ft-contact-item {
  margin-bottom: 15px;
}
#footer .ft-content .inner .input-group {
  margin-top: 20px;
  position: relative;
  display: table;
  border-collapse: separate;
}
#footer .ft-content .inner .input-group input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  outline: 0px;
  border: 0px;
  background: #fff;
  color: #333333;
}
#footer .ft-content .inner .input-group .input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
#footer .ft-content .inner .input-group .input-group-btn button {
  padding: 0px 30px;
  height: 40px;
  line-height: 40px;
  outline: 0px;
  border: 0px;
  color: #fff;
  background: #dd6334;
  font-size: 18px;
}
#footer .ft-content .inner .box-social a {
  display: inline-block;
  margin-right: 10px;
  color: #ffffff;
  font-size: 24px;
}
#footer .ft-copyrights {
  background-color: var(--primary-color);
  padding: 10px 0;
}
#footer .ft-copyrights .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}
#footer .ft-copyrights .inner .sub-nav a {
  color: white;
  text-transform: uppercase;
  margin-right: 10px;
}
#footer .ft-copyrights .inner .sub-nav a:hover {
  color: var(--sub-color);
}

@media (min-width: 576px) {
  .wrapper-container {
    max-width: 540px;
    padding: 0 15px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .wrapper-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wrapper-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wrapper-container {
    max-width: 1140px;
  }
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Serif", "DejaVu Serif", serif;
}
body .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .slick-slider .slick-prev, body .slick-slider .slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10000;
  margin: auto;
}
body .slick-slider .slick-prev i, body .slick-slider .slick-next i {
  margin: auto;
  vertical-align: middle;
  padding: 10px;
  background: var(--sub-color);
  border-radius: 50%;
}
body .slick-slider .slick-prev {
  left: 10px;
}
body .slick-slider .slick-next {
  right: 10px;
}

.banner-slider img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */
