.block-feature-product{
  .wrapper-container{
    padding: 0;
  }
  .content{
    .list-items{
      .item{
        width: 33.333333333%;
        padding: 15px;
        h3{
          text-align: center;
        }
        img{
          width: 100%;
          max-height: 300px;
          object-fit: unset;
        }
      }
    }
  }
}