.block-feature-product{
  .wrapper-container{
    padding: 0;
  }
  .content{
    .list-items{
      .item{
        width: 33.333333333%;
        padding: 15px;
        h3{
          text-align: center;
          a{
            color: black;
          }
        }
      }
    }
  }
}
.block-feature-product .slider-item, .block-license .license-item {
  height: 450px;
  .item-thumb, img{
    height: 100%!important;
    max-height: unset;
    margin: auto;
  }
}