.block-main-post{
  .wrapper-container{
    padding: 0;
  }
  .inner-left{
    width: 50%;
    padding: 15px;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    font-family: "Noto Serif", "DejaVu Serif", serif;
      ul{
        li{
          padding-left: 20px;
          position: relative;
          margin-bottom: 15px;
          &::before{
            content: '\f111';
            position: absolute;
            top: 8px;
            left: 0px;
            font-size: 8px;
            color: #dd6334;
            line-height: normal;
            font-weight: 900;
            background-color: var(--primary-color);
            height: 8px;
            width: 8px;
            border-radius: 50%;
          }
          strong{
            font-weight:bold;
            font-family: 'Montserrat', sans-serif;
          }
        }
      }
  }
  .inner-right{
    width: 50%;
    padding: 15px;
    a{
      display: block;
      overflow: hidden;
      img{
        transition: all 0.3s;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}