.block-category {
  font-family: "Noto Serif", "DejaVu Serif", serif;
  .wrapper-container {
    padding: 0;
  }

  .article-item {
    line-height: 24px;
    .article-img {
      margin-bottom: 10px;
      height: 240px;
      a {
        display: block;
        overflow: hidden;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          transform: scale(1);
          transition: all 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .article-title {
      margin-bottom: 10px;

      a {
        display: inline-block;
        color: #333333;
        font-weight: bold;
        &:hover {
          color: var(--primary-color)
        }
      }
    }

    .article-desc {
      color: #333333;
      text-align: justify;
    }
  }

  .slick-slide {
    padding: 15px;
  }
}

.article-info {
  margin-bottom: 5px;

  > div {
    display: inline-block;
    color: #333333;
    margin-right: 15px;
  }

  i {
    color: #000;
    font-weight: bold;
  }
}