.wrapper-container{
  padding: 0 15px;
}
@media (min-width: 576px) {
  .wrapper-container {
    max-width: 540px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .wrapper-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper-container {
    max-width: 1140px;
  }
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

*{
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;

  .d-flex {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    margin: 0 0 15px;
  }

  .block {
    margin: 60px 0;
  }

  .slick-slider {
    .slick-prev, .slick-next {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      z-index: 2;
      margin: auto;
      opacity: 0.5;
      transition: all 0.3s;
      cursor: pointer;
      i {
        margin: auto;
        vertical-align: middle;
        padding: 10px;
        background: var(--sub-color);
        border-radius: 50%;
      }
      &:hover{
        opacity: 1
      }
    }

    .slick-prev {
      left: 25px;
    }

    .slick-next {
      right: 25px;
    }
  }

  .btn-link {
    text-align: center;
    margin-top: 30px;

    a {
      display: inline-block;
      padding: 10px 30px;
      background: #dd6334;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .h2-title {
    text-align: center;
    position: relative;
    margin: 0 0 40px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;;

    &:after {
      content: '';
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -7px;
      height: 3px;
      width: 60px;
      background: #333333;
    }
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

@keyframes spin1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(72deg);
  }
  100% {
    transform: rotate(-288deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(-144deg);
  }
  100% {
    transform: rotate(216deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(216deg);
  }
  100% {
    transform: rotate(-144deg);
  }
}

@keyframes jumpUp {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.box-modal{
  display: none;
  .modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.6);
  }
  .modal-content{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 300px;
    background-color: var(--primary-color);
    padding: 30px 15px;
    z-index: 500000;
    overflow-y: auto;
  }
  &.d-block{
    display: block!important;
  }
}
.mobile-menu-title{
  position: relative;
  color: white;
  i{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 28px;
    color: white;
    cursor: pointer;
  }
}
#primary-menu-mobile{
  li{
     a{
       text-transform: uppercase;
     }
  }
  li{
    display: block;
    padding: 6px 15px;
    background: rgba(194, 83, 39, 0);
    border-left: 3px solid transparent;
    >a{
      display: inline-block;
      position: relative;
      padding: 0px;
      color: #ffffff;
    }
    &:hover{
      background: #c25327;
      border-left: 3px solid #e4b549;
    }
  }
  li.menu-item-has-children{
    position: relative;
    &:after{
      content: '\f067';
      font-family: "Line Awesome Free";
      font-weight: 900;
      color: white;
      position: absolute;
      top: 4px;
      right: 0;
    }
  }
  >li.menu-item-has-children{
    >ul.sub-menu{
      display: none;
      padding-top: 10px;
      padding-left: 15px;
      >li.menu-item-has-children{
        >ul.sub-menu{
          padding-left: 20px;
          padding-top: 10px;
        }
      }
    }
  }
  .mega-menu .inner-sub-menu a{
    color: white;
    padding: 6px 0;
    display: inline-block;
  }
}

.slide {
  height: 100%;
}
.h2-title a{
  color: black
}
.pagination {
  margin: 20px auto;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  .page-item{
    margin: 0 3px;
  }
  .page-numbers{
    padding: 6px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 14px;
  }
  .current{
    opacity: .4;
    color: #302f2f;
    background-color: #f7f7f7;
  }
}
.box-search{
  position: relative;
  margin: auto 30px auto 0;
  .dropdown-toggle{
    cursor: pointer;
  }
  .dropdown-menu{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 30;
    display: none;
    .form-control{
      padding: 5px 30px 5px 12px;
      outline: none;
    }
    .input-group{
      position: relative;
      .btn-search{
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
      }
    }
  }
  &:hover{
    .dropdown-menu{
      display:block;
    }
  }
}
#dropdownSearchButton{
  background-color: unset;
  padding: 15px 0;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border: none;
}