.wrapper-container{
  max-width: 1200px;
  margin: auto;
}
ul{
  padding: 0;
  li{
    list-style: none;
  }
}
a{
  text-decoration: none;
}
body{
  font-family: "Noto Serif", "DejaVu Serif", serif;
}