:root {
  --primary-color: #de6232 ;
  --sub-color: #e4b549;
}

#header .thim-header-top {
  padding: 10px 0;
}
#header .thim-header-top .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .thim-header-top .inner > div {
  margin: auto;
}
#header .thim-header-top .inner .box-social {
  width: 40%;
  text-align: left;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#header .thim-header-top .inner .box-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  line-height: 34px;
  width: 34px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  text-align: center;
  margin-right: 15px;
}
#header .thim-header-top .inner .box-social a:hover {
  background-color: var(--primary-color);
  color: white;
}
#header .thim-header-top .inner .box-social a i {
  font-size: 24px;
  vertical-align: middle;
  margin: auto;
}
#header .thim-header-top .inner .box-logo {
  width: 20%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .thim-header-top .inner .box-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .thim-header-top .inner .box-logo img {
  margin: auto;
}
#header .thim-header-top .inner .box-contact-shop {
  width: 40%;
  text-align: right;
  margin: auto 0;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
}
#header .thim-header-top .inner .box-contact-shop a {
  color: var(--primary-color);
  text-decoration: none;
}
#header .thim-header-top .inner .box-contact-shop > div {
  padding: 3px 0;
}
#header .thim-header-top .inner .icon-show-menu-mobile {
  display: none;
}
#header .thim-header-bottom {
  background-color: var(--primary-color);
}
#header .thim-header-bottom .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .thim-header-bottom .inner ul#primary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}
#header .thim-header-bottom .inner ul#primary-menu li {
  margin-right: 20px;
  padding: 15px 0;
}
#header .thim-header-bottom .inner ul#primary-menu li a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
#header .thim-header-bottom .inner ul#primary-menu li.current-menu-item, #header .thim-header-bottom .inner ul#primary-menu li:hover > a {
  color: var(--sub-color);
}
#header .thim-header-bottom .inner ul#primary-menu .sub-menu {
  display: none;
}
#header .thim-header-bottom .inner ul#primary-menu .mega-menu.mega-menu.mega-menu.mega-menu {
  min-width: 600px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children {
  position: relative;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu .inner-item {
  width: 33.333%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu .inner-item:hover > a {
  color: var(--sub-color);
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu .inner-item .list-question {
  padding-left: 20px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children .inner-sub-menu .inner-item .list-question .question-item {
  list-style: circle;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 0;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children:after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: white;
  font-size: 14px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children:hover > .sub-menu {
  display: block;
  z-index: 10;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu {
  background-color: #c25327;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 300px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu a {
  text-transform: capitalize;
  font-weight: 400;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu li {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children {
  position: relative;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children:hover > .sub-menu {
  display: block;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children:after {
  content: "\f105";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: white;
  font-size: 14px;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children > .sub-menu {
  border-radius: 3px;
  z-index: 100;
  padding: 5px;
  min-width: 250px;
  top: 10%;
  left: calc(100% + 13px);
  position: absolute;
  background: #c25327;
  margin: 0px;
  line-height: normal;
  text-align: left;
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu > li.menu-item-has-children > .sub-menu:after {
  content: "";
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #c25327;
  border-right: 8px solid transparent;
  position: absolute;
  top: 13px;
  left: -16px;
  margin: auto;
  width: 0;
  display: block !important;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
#header .thim-header-bottom .inner ul#primary-menu > li.menu-item-has-children > .sub-menu:before {
  content: "";
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #c25327;
  border-right: 8px solid transparent;
  position: absolute;
  top: -16px;
  left: 0;
  right: -75%;
  margin: auto;
  width: 0px;
  display: block !important;
}
#header .thim-header-bottom .inner .cart-icon {
  margin: auto 0;
  width: auto;
}
#header .thim-header-bottom .inner .cart-icon a i {
  color: white;
  font-size: 24px;
}
#header .thim-header-bottom .inner .inner-right {
  padding-right: 30px;
  position: relative;
}
#header .thim-header-bottom .inner .inner-right .cart-icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .thim-header-bottom .inner .inner-right .cart-icon a {
  margin: auto;
}

#footer {
  background-color: black;
}
#footer .wrapper-container {
  padding: 0;
}
#footer .ft-content {
  position: relative;
  padding: 50px 0px;
  color: #ffffff;
  background-image: url("../../images/ft_bg_img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#footer .ft-content .ft-content-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#footer .ft-content .inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#footer .ft-content .inner > div {
  padding: 15px;
  width: 33.3333%;
}
#footer .ft-content .inner ul li {
  padding: 6px 0;
}
#footer .ft-content .inner a {
  color: white;
}
#footer .ft-content .inner a:hover {
  color: var(--sub-color) !important;
}
#footer .ft-content .inner .ft-contact-item {
  margin-bottom: 15px;
}
#footer .ft-content .inner .input-group {
  margin-top: 20px;
  position: relative;
  display: table;
  border-collapse: separate;
}
#footer .ft-content .inner .input-group input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  outline: 0px;
  border: 0px;
  background: #fff;
  color: #333333;
}
#footer .ft-content .inner .input-group .input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
#footer .ft-content .inner .input-group .input-group-btn button {
  padding: 0px 30px;
  height: 40px;
  line-height: 40px;
  outline: 0px;
  border: 0px;
  color: #fff;
  background: #dd6334;
  font-size: 18px;
}
#footer .ft-content .inner .box-social a {
  display: inline-block;
  margin-right: 10px;
  color: #ffffff;
  font-size: 24px;
}
#footer .ft-copyrights {
  background-color: var(--primary-color);
  padding: 10px 0;
}
#footer .ft-copyrights .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}
#footer .ft-copyrights .inner .sub-nav a {
  color: white;
  text-transform: uppercase;
  margin-right: 10px;
}
#footer .ft-copyrights .inner .sub-nav a:hover {
  color: var(--sub-color);
}
#footer .ft-copyrights .inner .copyrights-text p {
  margin-bottom: 0;
}

.wrapper-container {
  padding: 0 15px;
}

@media (min-width: 576px) {
  .wrapper-container {
    max-width: 540px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .wrapper-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wrapper-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wrapper-container {
    max-width: 1140px;
  }
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
body .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body p {
  margin: 0 0 15px;
}
body .block {
  margin: 60px 0;
}
body .slick-slider .slick-prev, body .slick-slider .slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  margin: auto;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
body .slick-slider .slick-prev i, body .slick-slider .slick-next i {
  margin: auto;
  vertical-align: middle;
  padding: 10px;
  background: var(--sub-color);
  border-radius: 50%;
}
body .slick-slider .slick-prev:hover, body .slick-slider .slick-next:hover {
  opacity: 1;
}
body .slick-slider .slick-prev {
  left: 25px;
}
body .slick-slider .slick-next {
  right: 25px;
}
body .btn-link {
  text-align: center;
  margin-top: 30px;
}
body .btn-link a {
  display: inline-block;
  padding: 10px 30px;
  background: #dd6334;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
body .h2-title {
  text-align: center;
  position: relative;
  margin: 0 0 40px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
body .h2-title:after {
  content: "";
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  height: 3px;
  width: 60px;
  background: #333333;
}
body img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  100% {
    -webkit-transform: rotate(-288deg);
            transform: rotate(-288deg);
  }
}
@keyframes spin2 {
  0% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  100% {
    -webkit-transform: rotate(-288deg);
            transform: rotate(-288deg);
  }
}
@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
  100% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
}
@keyframes spin3 {
  0% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
  100% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
}
@-webkit-keyframes spin4 {
  0% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  100% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
}
@keyframes spin4 {
  0% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  100% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
}
@-webkit-keyframes jumpUp {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes jumpUp {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
.box-modal {
  display: none;
}
.box-modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}
.box-modal .modal-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 300px;
  background-color: var(--primary-color);
  padding: 30px 15px;
  z-index: 500000;
  overflow-y: auto;
}
.box-modal.d-block {
  display: block !important;
}

.mobile-menu-title {
  position: relative;
  color: white;
}
.mobile-menu-title i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

#primary-menu-mobile li a {
  text-transform: uppercase;
}
#primary-menu-mobile li {
  display: block;
  padding: 6px 15px;
  background: rgba(194, 83, 39, 0);
  border-left: 3px solid transparent;
}
#primary-menu-mobile li > a {
  display: inline-block;
  position: relative;
  padding: 0px;
  color: #ffffff;
}
#primary-menu-mobile li:hover {
  background: #c25327;
  border-left: 3px solid #e4b549;
}
#primary-menu-mobile li.menu-item-has-children {
  position: relative;
}
#primary-menu-mobile li.menu-item-has-children:after {
  content: "\f067";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: white;
  position: absolute;
  top: 4px;
  right: 0;
}
#primary-menu-mobile > li.menu-item-has-children > ul.sub-menu {
  display: none;
  padding-top: 10px;
  padding-left: 15px;
}
#primary-menu-mobile > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children > ul.sub-menu {
  padding-left: 20px;
  padding-top: 10px;
}
#primary-menu-mobile .mega-menu .inner-sub-menu a {
  color: white;
  padding: 6px 0;
  display: inline-block;
}

.slide {
  height: 100%;
}

.h2-title a {
  color: black;
}

.pagination {
  margin: 20px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pagination .page-item {
  margin: 0 3px;
}
.pagination .page-numbers {
  padding: 6px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 14px;
}
.pagination .current {
  opacity: 0.4;
  color: #302f2f;
  background-color: #f7f7f7;
}

.box-search {
  position: relative;
  margin: auto 30px auto 0;
}
.box-search .dropdown-toggle {
  cursor: pointer;
}
.box-search .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 30;
  display: none;
}
.box-search .dropdown-menu .form-control {
  padding: 5px 30px 5px 12px;
  outline: none;
}
.box-search .dropdown-menu .input-group {
  position: relative;
}
.box-search .dropdown-menu .input-group .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}
.box-search:hover .dropdown-menu {
  display: block;
}

#dropdownSearchButton {
  background-color: unset;
  padding: 15px 0;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.banner-slider img {
  width: 100%;
  max-height: 700px;
}

.banner-carosel {
  position: relative;
}
.banner-carosel .ms-slogan {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 15px;
  background-color: rgba(221, 99, 52, 0.6);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.block-main-post .wrapper-container {
  padding: 0;
}
.block-main-post .inner-left {
  width: 50%;
  padding: 15px;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  font-family: "Noto Serif", "DejaVu Serif", serif;
}
.block-main-post .inner-left ul li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 15px;
}
.block-main-post .inner-left ul li::before {
  content: "\f111";
  position: absolute;
  top: 8px;
  left: 0px;
  font-size: 8px;
  color: #dd6334;
  line-height: normal;
  font-weight: 900;
  background-color: var(--primary-color);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.block-main-post .inner-left ul li strong {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.block-main-post .inner-right {
  width: 50%;
  padding: 15px;
}
.block-main-post .inner-right a {
  display: block;
  overflow: hidden;
}
.block-main-post .inner-right a img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.block-main-post .inner-right a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.block-reason .wrapper-container {
  max-width: 1400px;
}
.block-reason .content .content-left, .block-reason .content .content-right {
  width: 30%;
}
.block-reason .content .policy-wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
}
.block-reason .content .policy-wrap-item img {
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
}
.block-reason .content .policy-wrap-item h3 {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.block-reason .content .policy-wrap-item span {
  display: block;
  width: 100%;
  text-align: center;
}
.block-reason .content .policy-wrap-item .animation-circle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.block-reason .content .policy-wrap-item .animation-circle .animation-circle-item {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid transparent;
  border-radius: 92% 110% 132% 88%;
}
.block-reason .content .policy-wrap-item .animation-circle .animation-circle-item:nth-child(1) {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: spin1;
          animation-name: spin1;
  border-color: #c7c7c7;
}
.block-reason .content .policy-wrap-item .animation-circle .animation-circle-item:nth-child(2) {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin2 6s linear infinite;
          animation: spin2 6s linear infinite;
  border-color: #c7c7c7;
}
.block-reason .content .policy-wrap-item .animation-circle .animation-circle-item:nth-child(3) {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin3 6s linear infinite;
          animation: spin3 6s linear infinite;
  border-color: #c7c7c7;
}
.block-reason .content .policy-wrap-item .animation-circle .animation-circle-item:nth-child(4) {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin4 6s linear infinite;
          animation: spin4 6s linear infinite;
  border-color: #c7c7c7;
}
.block-reason .content .policy-wrap-center {
  width: 40%;
  -webkit-animation: jumpUp 2s infinite linear;
          animation: jumpUp 2s infinite linear;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}
.block-reason .content .policy-wrap-center img {
  margin: auto;
}

.block-feature-product .wrapper-container {
  padding: 0;
}
.block-feature-product .content .list-items .item {
  width: 33.333333333%;
  padding: 15px;
}
.block-feature-product .content .list-items .item h3 {
  text-align: center;
}
.block-feature-product .content .list-items .item h3 a {
  color: black;
}

.block-feature-product .slider-item, .block-license .license-item {
  height: 450px;
}
.block-feature-product .slider-item .item-thumb, .block-feature-product .slider-item img, .block-license .license-item .item-thumb, .block-license .license-item img {
  height: 100% !important;
  max-height: unset;
  margin: auto;
}

.block-customer-review {
  position: relative;
  color: #fff;
  padding: 50px 0px;
  text-align: center;
  background: url("../../images/ha-img2_2fcf5b30560d4df09880bbc55780da71_large.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block-customer-review .block-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.block-customer-review .content {
  position: relative;
  z-index: 3;
}
.block-customer-review .content .h2-title:after {
  background: white;
}
.block-customer-review .content .customer-thumb img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 20px;
}
.block-customer-review .content .customer-review-content {
  max-width: 500px;
  margin: 0 auto 20px;
  font-family: "Noto Serif", "DejaVu Serif", serif;
  line-height: 24px;
}
.block-customer-review .content .customer-info {
  text-transform: uppercase;
  font-family: "Noto Serif", "DejaVu Serif", serif;
  font-weight: bold;
}

.block-license .wrapper-container {
  padding: 0;
}
.block-license .license-slider .license-item {
  padding: 15px;
  width: 33.3333333333%;
}
.block-license .license-slider .license-item img {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
.block-license .license-slider .license-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.block-category {
  font-family: "Noto Serif", "DejaVu Serif", serif;
}
.block-category .wrapper-container {
  padding: 0;
}
.block-category .article-item {
  line-height: 24px;
}
.block-category .article-item .article-img {
  margin-bottom: 10px;
  height: 240px;
}
.block-category .article-item .article-img a {
  display: block;
  overflow: hidden;
  height: 100%;
}
.block-category .article-item .article-img a img {
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.block-category .article-item .article-img a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.block-category .article-item .article-title {
  margin-bottom: 10px;
}
.block-category .article-item .article-title a {
  display: inline-block;
  color: #333333;
  font-weight: bold;
}
.block-category .article-item .article-title a:hover {
  color: var(--primary-color);
}
.block-category .article-item .article-desc {
  color: #333333;
  text-align: justify;
}
.block-category .slick-slide {
  padding: 15px;
}

.article-info {
  margin-bottom: 5px;
}
.article-info > div {
  display: inline-block;
  color: #333333;
  margin-right: 15px;
}
.article-info i {
  color: #000;
  font-weight: bold;
}

.page-static .main-content .post-content {
  margin-top: 20px;
}

.related-posts {
  margin-top: 30px;
}
.related-posts ul {
  padding-left: 18px;
}
.related-posts ul li {
  list-style: unset;
}
.related-posts ul li h4 {
  margin: 10px 0;
}
.related-posts ul li h4 a {
  color: black;
  display: inline-block;
  position: relative;
}
.related-posts ul li h4 a:after {
  content: "";
  display: block;
  border-bottom: 1px solid #dd6334;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.related-posts ul li h4 a:hover:after {
  width: 100%;
}

.page-page .wrapper-container .main-content {
  width: 100%;
}

.page-single-product .main-content {
  width: 100% !important;
}
.page-single-product .main-content .product-slider .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-single-product .main-content .product-slider .inner .inner-left {
  width: 40%;
  padding: 15px;
}
.page-single-product .main-content .product-slider .inner .inner-left .product-slider-main .slider-item {
  height: 400px;
}
.page-single-product .main-content .product-slider .inner .inner-left .product-slider-main .slider-item img {
  margin: auto;
  height: 100%;
}
.page-single-product .main-content .product-slider .inner .inner-left .product-slider-gallery .slider-item {
  height: 100px;
  padding: 6px;
}
.page-single-product .main-content .product-slider .inner .inner-left .product-slider-gallery .slider-item img {
  margin: auto;
  height: 100%;
}
.page-single-product .main-content .product-slider .inner .inner-right {
  width: 60%;
  padding: 15px;
}
.page-single-product .main-content .product-slider .inner .inner-right .pro-content-head .h1-title {
  font-size: 18px;
  text-transform: uppercase;
}
.page-single-product .main-content .product-slider .inner .inner-right .pro-content-head > div {
  display: inline-block;
}
.page-single-product .main-content .product-slider .inner .inner-right .product-price {
  padding: 15px 0;
  margin: 15px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.page-single-product .main-content .product-slider .inner .inner-right .product-price .regular-price, .page-single-product .main-content .product-slider .inner .inner-right .product-price .sale-price {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
}
.page-single-product .main-content .product-slider .inner .inner-right .product-price .regular-price {
  color: #bebebe;
  text-decoration: line-through;
}
.page-single-product .main-content .product-slider .inner .inner-right .product-price .PriceSaving {
  font-family: "Noto Serif", "DejaVu Serif", serif;
  color: #333333;
  font-weight: 300;
  font-size: 14px;
}
.page-single-product .main-content .product-slider .inner .inner-right .product-price .no-sale-price {
  color: var(--primary-color);
  text-decoration: unset;
}
.page-single-product .main-content .product-slider .inner .inner-right .product-hotline {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0;
  border-bottom: 1px solid #e6e6e6;
}
.page-single-product .main-content .product-slider .inner .inner-right .product-buy .add_to_cart_inline {
  border: none !important;
  padding-left: 0 !important;
}
.page-single-product .main-content .product-slider .inner .inner-right .product-buy .woocommerce-Price-amount {
  display: none;
}
.page-single-product .main-content .product-des .product-description-wrapper {
  background: #fff;
  border: 1px solid #e6e6e6;
}
.page-single-product .main-content .product-des .product-description-wrapper .des-title {
  display: block;
  position: relative;
  background: var(--primary-color);
}
.page-single-product .main-content .product-des .product-description-wrapper .des-title h3 {
  color: #fff;
  outline: none;
  cursor: pointer;
  padding: 15px;
  margin: 0;
}
.page-single-product .main-content .product-des .product-description-wrapper .des-content {
  padding: 15px;
}

.product-main-info {
  border: 1px solid #e6e6e6;
  background: #f1f1f1;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
}
.product-main-info tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.product-main-info tr td {
  text-align: left;
  padding: 15px;
  border: 1px solid #e6e6e6;
}

.add_to_cart_button {
  background-color: var(--primary-color) !important;
  color: white !important;
  margin-right: 15px !important;
  font-size: 14px !important;
  text-transform: uppercase;
}

.wc-forward {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  border: 0;
  display: inline-block;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.archive .quantity {
  display: inline-block;
}

.box-breadcrumb {
  height: 300px;
  padding: 30px 0;
  background: url("../../images/ha-img2_2fcf5b30560d4df09880bbc55780da71_large.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box-breadcrumb .breadcrumb-content {
  margin: auto;
  position: relative;
  z-index: 5;
  color: white;
}
.box-breadcrumb .breadcrumb-content .breadcrumbs {
  font-weight: bold;
  text-align: center;
}
.box-breadcrumb .breadcrumb-content .breadcrumbs a:first-child {
  color: var(--primary-color);
}
.box-breadcrumb .breadcrumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.page-search .wrapper-container .main-content.main-content {
  width: 100%;
}

.page .wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.page .wrapper-container .side-bar {
  width: 30%;
  padding: 15px;
}
.page .wrapper-container .side-bar .list-categories {
  background: #fff;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
  margin-bottom: 30px;
}
.page .wrapper-container .side-bar .list-categories h3 {
  width: 100%;
  display: block;
  background: #dd6334;
  color: #fff;
  font-weight: normal;
  text-align: center;
  float: left;
  outline: none;
  padding: 15px;
  margin: 0px;
}
.page .wrapper-container .side-bar .list-categories > ul {
  list-style: none;
  margin: 0px;
  padding: 15px;
  display: grid;
}
.page .wrapper-container .side-bar .list-categories > ul > li {
  margin: 0px 0px 15px 0px;
}
.page .wrapper-container .side-bar .list-categories > ul > li a {
  color: #333333;
  position: relative;
  display: inline-block;
}
.page .wrapper-container .side-bar .list-categories > ul > li a:after {
  content: "";
  display: block;
  border-bottom: 1px solid #dd6334;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.page .wrapper-container .side-bar .list-categories > ul > li a:hover:after {
  width: 100%;
}
.page .wrapper-container .side-bar .list-categories > ul > li.active a {
  color: var(--primary-color);
}
.page .wrapper-container .side-bar .list-categories > ul > li.active a:after {
  width: 100%;
}
.page .wrapper-container .side-bar .blog-sb-banner a {
  display: block;
}
.page .wrapper-container .side-bar .blog-sb-banner a img {
  width: 100%;
}
.page .wrapper-container .main-content {
  width: 70%;
  padding: 15px;
}
.page .wrapper-container .main-content ul.list-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page .wrapper-container .main-content ul.list-posts li {
  width: 50%;
  padding: 15px;
}
.page .wrapper-container .main-content .nguon-tags a {
  display: inline-block;
  padding: 5px;
  margin: 3px 3px 3px 0px;
  border: 1px dashed #333333;
  color: #333333;
}
.page .wrapper-container .main-content .nguon-tags a:hover {
  color: var(--primary-color);
}

@media (max-width: 992px) {
  #footer .ft-content .inner > div {
    width: 50% !important;
  }

  .block-main-post .inner-left, .block-main-post .inner-right {
    width: 100%;
  }

  .block-main-post .inner-right img {
    width: 100%;
    margin-top: 50px;
  }

  #header .thim-header-bottom,
#header .thim-header-top .inner .box-social,
#header .thim-header-top .inner .box-contact-shop {
    display: none;
  }

  #header .thim-header-top .inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #header .thim-header-top .inner .icon-show-menu-mobile {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
  #header .thim-header-top .inner .icon-show-menu-mobile a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--primary-color);
    padding: 3px 0px;
    margin: 0px;
    font-weight: bold;
  }
  #header .thim-header-top .inner .icon-show-menu-mobile a i {
    font-size: 22px;
    margin: auto;
  }
  #header .thim-header-top .inner .icon-show-menu-mobile a span {
    margin: auto;
  }

  #header .thim-header-top .inner .box-logo {
    margin-left: 0;
    margin-right: 0;
    width: 30%;
  }

  .page-single-product .main-content .product-slider .inner .inner-left,
.page-single-product .main-content .product-slider .inner .inner-right {
    width: 100%;
  }

  .page-single-product .main-content .product-des .product-description-wrapper .product-main-info,
.page .wrapper-container .side-bar {
    display: none;
  }

  .page .wrapper-container .main-content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .ft-copyrights .inner .sub-nav {
    padding-bottom: 10px;
  }

  .block-reason .content .content-left, .block-reason .content .content-right, .block-reason .content .content-center {
    width: 100%;
    padding-bottom: 15px;
  }

  .block-reason .content .content-left, .block-reason .content .content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .block-reason .content .content-left > div, .block-reason .content .content-right > div {
    width: 50%;
    padding: 15px;
  }

  .block-main-post .inner-right a img {
    margin-top: 30px;
  }

  .block-feature-product .slider-item, .block-license .license-item {
    height: 300px;
  }

  .block-category .article-item .article-img {
    height: 200px;
  }
}
@media (max-width: 576px) {
  body .h2-title {
    font-size: 20px;
  }

  #footer .ft-content .inner > div {
    width: 100% !important;
  }

  #footer .wrapper-container {
    padding: 0 15px;
  }

  .page .wrapper-container .main-content ul.list-posts li {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
